{% extends 'base.html'%}
 {% block content %}

 <!--| ABOUT |--------------------------------------------------->
 <section id="about" class="container">
<!--   <img src="https://secure.meetupstatic.com/photos/member/d/9/d/c/member_266755772.jpeg"> -->
   <h1 class="display-4">Abdoulaye Diallo</h1>
   <p>
I graduated from Universty of Potsdam with diploma degree in physics. From  2019-2020 went to my computer career to
broaden my skills in information technology. At Mycc I graduated with a certificate in IT.I am Looking for an opportunity as software developer that will allow me to apply
my learned skills and make contribution. I learn fast
   </p>
   <p>
     <strong>Skills:</strong>
     <span class="badge badge-info">Bootstrap</span>
     <span class="badge badge-info">Python</span>
     <span class="badge badge-info">HTML</span>
     <span class="badge badge-info">CSS</span>
     <span class="badge badge-info">JavaScript</span>
   </p>
 </section>

 <!-- EXPERIENCE --------------------------------------------->
 <section id="experience" class="container">
   <h1>Experience</h1>
   <div class="card">
     <div class="card-header collapse show"  data-toggle="collapse" data-target="#exp1">
       <div class="row">
         <h5 class="col-md-8 mb-0">Django Web Developer</h5>
         <em class="col-md-4 text-md-right">Still growing</em>
       </div>
     </div>


   <div class="card">
     <div class="card-header" data-toggle="collapse" data-target="#exp2">
       <div class="row">
         <h5 class="col-md-8 mb-0">Computer Technician , Tester</h5>
         <em class="col-md-4 text-md-right">June 2019 - present</em>
       </div>
     </div>

   </div>
   <div class="card">
     <div class="card-header" data-toggle="collapse" data-target="#exp3">
       <div class="row">
      <!---   <h5 class="col-md-8 mb-0">Project Manager, CMS Team Lead</h5>
         <em class="col-md-4 text-md-right">Jan 2005 - Sep 2008</em> --->
       </div>
     </div>

   </div>
   <div class="card">
     <div class="card-header" data-toggle="collapse" data-target="#exp4">
       <div class="row">
      <!---   <h5 class="col-md-8 mb-0">Total Newb Developer</h5>
         <em class="col-md-4 text-md-right">Jul 2000 - Jan 2005</em> ---->
       </div>
     </div>

 </section>

 <!-- CONTACT ----------------------------------------------------->

 <section class="container" id="contact">
   <h1>Contact</h1>
   <div class="row">
     <div class="col-sm-2">Phone:</div>
     <div class="col-sm-4">346-434-7487</div>
   </div>
   <div class="row">
     <div class="col-sm-2">Email:</div>
     <div class="col-sm-4"><a href="mailto:ben@bendavisdigital.com">dialloa626@yahoo.fr</a></div>
   </div>
   <div class="row">
<!-------     <div class="col-sm-2">LinkedIn:</div>
     <div class="col-sm-4"><a href="https://linkedin.com/in/bendavis78">linkedin.com/in/bendavis78</a></div> --->
   </div>
 </section

 {% endblock %}
